<?xml version="1.0" encoding="UTF-8"?>
<zk>
	<window id="wind" title="My Tech List" width="600px" border="normal"
			apply="fr.istic.MyViewModel" >

		<!-- Form for TODO tasks -->
		<hbox align="center" spacing="10px">
		</hbox>
        <!-- Define global model of the combobox -->

		<!--
        <zscript><![CDATA[
        ListModelList lm = new ListModelList(Arrays.asList(new String[] { "TO DO",
                "Doing", "Done" }));
        ]]></zscript>
        -->


        <!-- The list of tasks https://www.zkoss.org/zkdemo/tabbox/accordion -->

		<tabbox id="tbox" mold="accordion">
			<tabs id="tbtabs">

			</tabs>
			<tabpanels id="tbpanels">

			</tabpanels>
		</tabbox>

	</window>
</zk>
